# DataFrame-Conditional Selection

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

Now we are going to set a seed. Seed will insure that every one will get same random number. Everyone means whose tutorial i am following.

In [3]:
np.random.seed(101)

Create Matrix For DataFrame. This is 5 by 4 Matrix.

In [4]:
Matrix = randn(5,4)

Create Row Label using python list.

In [5]:
rowLabel = ['Row-0','Row-1','Row-2','Row-3','Row-4']

Create Column Label using python list.

In [7]:
columnLabel = ['Column-0','Column-1','Column-2','Column-3']

Create a pandas DataFrame

In [8]:
dataFrame = pd.DataFrame(data=Matrix,index=rowLabel,columns=columnLabel)

In [9]:
dataFrame

       Column-0  Column-1  Column-2  Column-3
Row-0  2.706850  0.628133  0.907969  0.503826
Row-1  0.651118 -0.319318 -0.848077  0.605965
Row-2 -2.018168  0.740122  0.528813 -0.589001
Row-3  0.188695 -0.758872 -0.933237  0.955057
Row-4  0.190794  1.978757  2.605967  0.683509

Pandas conditional selection is very similar to numpy's conditional selection. Say we want to know where in the dataFrame value is more than zero.

In [13]:
boolDataFrame = dataFrame > 0

In [14]:
boolDataFrame

       Column-0  Column-1  Column-2  Column-3
Row-0      True      True      True      True
Row-1      True     False     False      True
Row-2     False      True      True     False
Row-3      True     False     False      True
Row-4      True      True      True      True

Now if we pass this boolean DataFrame as a argument to our orginal dataFrame. We will receive a datafram where data value is true. Where value is equal to false, we will get NaN.

In [15]:
dataFrame[boolDataFrame]

       Column-0  Column-1  Column-2  Column-3
Row-0  2.706850  0.628133  0.907969  0.503826
Row-1  0.651118       NaN       NaN  0.605965
Row-2       NaN  0.740122  0.528813       NaN
Row-3  0.188695       NaN       NaN  0.955057
Row-4  0.190794  1.978757  2.605967  0.683509

We can also conditional select single column from DataFrame

In [18]:
boolColumn1 = dataFrame['Column-1'] > 0

In [19]:
boolColumn1

Row-0     True
Row-1    False
Row-2     True
Row-3    False
Row-4     True
Name: Column-1, dtype: bool

Now we can conditionally select from DataFrame where boolColumn1 value is true. Example:

In [20]:
dataFrame[boolColumn1]

       Column-0  Column-1  Column-2  Column-3
Row-0  2.706850  0.628133  0.907969  0.503826
Row-2 -2.018168  0.740122  0.528813 -0.589001
Row-4  0.190794  1.978757  2.605967  0.683509

See we did not get Row-1 and Row-3. As in boolColumn1 variable those rows are false.