# Merging, Joining, and Concatenating

There are 3 main ways of combining DataFrames together: Merging, Joining and Concatenating. In this lecture we will discuss these 3 methods with examples.

### Example DataFrames

In [1]:
import pandas as pd

We will create 3 DataFrame using 3 python Dictionary

In [19]:
dictionary1 = {'A':['A0', 'A1', 'A2', 'A3'],
               'B':['B0', 'B1', 'B2', 'B3'],
               'C':['C0', 'C1', 'C2', 'C3'],
               'D':['D0', 'D1', 'D2', 'D3']}
rowLabel1 =[0,1,2,3]

In [20]:
dictionary2 = {'A':['A4', 'A5', 'A6', 'A7'],
               'B':['B4', 'B5', 'B6', 'B7'],
               'C':['C4', 'C5', 'C6', 'C7'],
               'D':['D4', 'D5', 'D6', 'D7']}
rowLabel2 =[4,5,6,7]

In [21]:
dictionary3 = {'A':['A8', 'A9', 'A10', 'A11'],
               'B':['B8', 'B9', 'B10', 'B11'],
               'C':['C8', 'C9', 'C10', 'C11'],
               'D':['D8', 'D9', 'D10', 'D11']}
rowLabel3 =[8,9,10,11]

In [22]:
dataFrame1 = pd.DataFrame(dictionary1,rowLabel1)

In [23]:
dataFrame1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [24]:
dataFrame2 = pd.DataFrame(dictionary2,rowLabel2)

In [25]:
dataFrame2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [26]:
dataFrame3 = pd.DataFrame(dictionary3,rowLabel3)

In [27]:
dataFrame3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11