In [1]:
import numpy as np

In [3]:
import pandas as pd

First we will create 4 python object. Then we will convert them into pandas series.

###### Python List

In [30]:
# We will create a python list called label
label = ['a','b','c']
# We will create a python list called my_data
my_data = [10,20,30]

###### Python Dictionary

In [10]:
# We will create a python dictionary
dictionary = {'a':10,'b':20,'c':30}

###### Numpy Array

In [11]:
# We will create a 1 dimensional numpy array / 3 dimensional vector
vector = np.array(my_data)
# This array() method will convert python list to numpy 1 dimensional array

# Pandas series

In [14]:
# First we will convert my_data python list into pandas series
pd.Series(data=my_data)
# See python put cumulative series in the first column

0    10
1    20
2    30
dtype: int64

In [16]:
# We can change the default label by passing index
pd.Series(data=my_data,index=label)

a    10
b    20
c    30
dtype: int64

In [18]:
# Without explitely saying which parameter, we can straight pass those 
# parameter
pd.Series(my_data,label)

a    10
b    20
c    30
dtype: int64

In [19]:
# We will create pandas series by paasing numpy 1 dimensional array
pd.Series(vector)

0    10
1    20
2    30
dtype: int32

In [20]:
pd.Series(vector,label)

a    10
b    20
c    30
dtype: int32

In [21]:
# We will create pandas series by paasing python dictionary
pd.Series(dictionary)

a    10
b    20
c    30
dtype: int64

# Pandas Series Index

To see the example of pandas series index use case, we will create two series

In [22]:
series1 = pd.Series([1,2,3,4],["USA","GERMANY","USSR","JAPAN"])

In [23]:
series1

USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64

In [26]:
series2 = pd.Series([1,2,5,4],["USA","GERMANY","ITALY","JAPAN"])

In [27]:
series2

USA        1
GERMANY    2
ITALY      5
JAPAN      4
dtype: int64

In [28]:
# Grabing data from series is like grabing data from python list
series1["USA"]

1

In [31]:
# Add two series
series1 + series2
# See pandas put NaN object in "ITALY" & "USSR" row. Because panda could not find those
# two rows common in two series. For rest of the rows panda added the rows value.

GERMANY    4.0
ITALY      NaN
JAPAN      8.0
USA        2.0
USSR       NaN
dtype: float64